.loginsignup{
    width:100%;
    /* height:132vh; */
    height:auto;
    background:#fce3fe;
    padding-top:6.25rem;
    padding-bottom:10rem;
}
.loginsignup-container{
    width:45vw;
    /* height:43.75rem; */
    height:auto;
    background:white;
    margin:auto;
    padding:3.125rem;
    text-align:left;
    
}
     
.loginsignup-container h1{
    margin:1.25rem 0rem;
    font-size:2rem;
}
.loginsignup-fields{
    display:flex;
    flex-direction:column;
    gap:1.8rem;
    margin-top:1.875rem;
}
.loginsignup-fields input{
    height:4.5rem;
    /* height:3.5vh; */
    width:100%;
    padding-left:1.25rem;
    border:1px solid #c9c9c9;
    outline:none;
    color:#5c5c5c;
    font-size:1.125rem;
}
.loginsignup-container button{
    width:100%;
    height:4.5rem;
    color:white;
    background:#ff4141;
    margin-top:1.875rem;
    border:none;
    font-size:1.5rem;
    font-weight:500;
    cursor:pointer;
}
.loginsignup-login{
    margin-top:1.25rem;
    color:#5c5c5c;
    font-size:1.125rem;
    font-weight:500;
}
.loginsignup-login span{
    color:#ff4141;
    font-weight:600;
    cursor:pointer;
}
.loginsignup-agree{
    display:flex;
    align-items:center;
    margin-top:1.5rem;
    gap:20px;
    color:#c5c5c5;
    font-size:1.125rem;
    font-weight:500;
}
@media screen and (max-width:700px){
    .loginsignup{
    width:100%;
    height:auto;
    background:#fce3fe;
    padding-top:5rem;
    padding-bottom:5rem;
}
.loginsignup-container{
    width:50vw;
    /* height:43.75rem; */
    height:auto;
    background:white;
    /* margin:auto; */
    padding:1.125rem;
    text-align:left;
    
}
     
.loginsignup-container h1{
    margin:1.25rem 0rem;
    font-size:1rem;
}
.loginsignup-fields{
    display:flex;
    flex-direction:column;
    gap:0.8rem;
    margin-top:1.25rem;
}
.loginsignup-fields input{
    height:2.5rem;
    /* height:3.5vh; */
    width:100%;
    padding-left:0.25rem;
    border:1px solid #c9c9c9;
    outline:none;
    color:#5c5c5c;
    font-size:0.7rem;
}
.loginsignup-container button{
    width:100%;
    height:2.5rem;
    color:white;
    background:#ff4141;
    margin-top:0.875rem;
    border:none;
    font-size:0.8rem;
    font-weight:500;
    cursor:pointer;
}
.loginsignup-login{
    margin-top:1.25rem;
    color:#5c5c5c;
    font-size:0.7rem;
    font-weight:500;
}
.loginsignup-login span{
    color:#ff4141;
    font-size:0.7rem;
    font-weight:600;
    cursor:pointer;
}
.loginsignup-agree{
    display:flex;
    align-items:center;
    margin-top:0.8rem;
    gap:1rem;
    color:#c5c5c5;
    font-size:0.7rem;
    font-weight:500;
}

}