.relatedproducts{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:0.8rem;
    height:auto;
    margin-bottom:1.2rem;;
}
.relatedproducts h1{
color:#171717;
font-size:3rem;;
font-weight:600;
}
.relatedproducts hr{
    width:11rem;
    height:0.4rem;
    border-radius:0.5rem;
    background:#252525;
}
.relatedproducts-item{
    margin-top:2.5rem;
    display:flex;
    gap:1.75rem;
}
@media screen and (max-width:1000px){
    .relatedproducts h1{
      color:#171717;
      font-size:1.7rem;;
      font-weight:600;
     }
    .relatedproducts-item{
        margin:1.25rem 4.5rem;
        display:flex;
        flex-direction:row;
        flex-wrap:wrap;
        gap:1rem;
    }
}